<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piping Layout Program</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- HERO SECTION -->

    <div class="main__intro">
      <div class="main__container">
        <div class="main__content">
          <h1>MAJOR PIPING</h1>
          <h2>LAYOUT</h2>
          <p>Organizador de Piperack</p>
          <input id="numero" type="string" />
          <input type="submit" />
          <button class="main__btn"><a href="planta.html">INICIAR</a></button>
          <button class="main__btn"><a href="/">FAQs</a></button>
          <!--
          {% if sunny %}
          <h2>Today is sunny</h2>
          {% else %}
          <h2>Today is warm</h2>
          {% endif %}
          {% for post in posts %}
          <h2>{{post.title}}</h2>
          <h3>Author: {{post.author}}</h3>
          {% endfor %}
        --></div>
      </div>
    </div>

    <!--FOOTER SECTION-->

    <script src="script.js"></script>
  </body>
</html>
