<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piping Layout Program</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--NAVBAR SECTION-->
    <nav class="navbar">
      <div class="navbar__container">
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <li class="navbar__btn">
          <a href="{{ url_for('planta') }}" class="button__1"> Planta </a>
        </li>
        <li class="navbar__btn">
          <a href="{{ url_for('equipos') }}" class="button__2"> Equipos </a>
        </li>
        <li class="navbar__btn">
          <a href="{{ url_for('piperack') }}" class="button__3"> Piperack </a>
        </li>
        <li class="navbar__btn">
          <a href="{{ url_for('lineas') }}" class="button__4"> Lineas </a>
        </li>
        <li class="navbar__btn">
          <a href="{{ url_for('resultados') }}" class="button__5">
            Resultados
          </a>
        </li>
        <a href="{{ url_for('index') }}" id="navbar__logo"
          >MAJOR PIPING LAYOUT</a
        >
      </div>
    </nav>
    <div class="services">
      <p>Ingrese la información del PIPERACK :</p>

      <div class="services__container">
        <div class="services__cont">
          <h2>Contenedor izquierdo</h2>
          <p>TEXTO</p>
          <button>Enter</button>
        </div>
        <div class="services__cont">
          <h2>Contenedor derecho</h2>
          <p>TEXTO</p>
          <button>Enter</button>
        </div>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
